.webcam {
    border-radius: 20px;
    position: relative;
    width: 100%;
    max-width: 600px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    /*Mirror code ends*/
  }

  .webcam:hover {
    display: block;
  }
  
  .selected-border {
    box-sizing: border-box;
    border: solid 5px rgb(160, 18, 18);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.226);
  }